<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myhuiban.mapper.FollowJournalMapper">

    <insert id="insert" parameterType="com.myhuiban.model.FollowJournal" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO follow_journal(user_id, journal_id)
        VALUES (#{userId}, #{journalId})
    </insert>

    <!-- 根据用户ID查找该用户关注的期刊 -->
    <select id="findAllByUserId" parameterType="Long" resultType="Long">
        SELECT journal_id
        FROM follow_journal
        WHERE user_id = #{id}
    </select>

    <!-- 根据期刊ID统计总关注数量 -->
    <select id="countByJournalId" parameterType="Long" resultType="Integer">
        SELECT count(*)
        FROM follow_journal
        WHERE journal_id = #{id}
    </select>

    <select id="find" parameterType="com.myhuiban.model.FollowJournal" resultType="com.myhuiban.model.FollowJournal">
        SELECT *
        FROM follow_journal
        WHERE journal_id = #{journalId}
          AND user_id = #{userId}
    </select>

    <!-- 取消关注期刊 -->
    <delete id="delete" parameterType="Long">
        DELETE
        FROM follow_journal
        WHERE id = #{id}
    </delete>

    <!-- 关注数量排名前十的期刊 -->
    <select id="findTopTen" resultType="com.myhuiban.model.FollowJournalDetail">
        SELECT Journal_id, count(*) AS follow_num
        FROM follow_journal
        GROUP BY journal_id
        ORDER BY follow_num DESC LIMIT 10
    </select>

    <select id="findAll" resultType="com.myhuiban.model.FollowJournalDetail">
        SELECT Journal_id, count(*) AS follow_num
        FROM follow_journal
        GROUP BY journal_id
        ORDER BY follow_num DESC
    </select>


</mapper>