<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myhuiban.mapper.FollowConferenceMapper">

    <insert id="insert" parameterType="com.myhuiban.model.FollowConference" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO follow_conference(user_id, conference_id)
        VALUES (#{userId}, #{conferenceId})
    </insert>

    <!-- 根据用户ID查找该用户关注的会议 -->
    <select id="findAllByUserId" parameterType="Long" resultType="Long">
        SELECT conference_id
        FROM follow_conference
        WHERE user_id = #{id}
    </select>

    <!-- 根据会议ID统计总关注数量 -->
    <select id="countByConferenceId" parameterType="Long" resultType="Integer">
        SELECT count(*)
        FROM follow_conference
        WHERE conference_id = #{id}
    </select>

    <select id="find" parameterType="com.myhuiban.model.FollowConference"
            resultType="com.myhuiban.model.FollowConference">
        SELECT *
        FROM follow_conference
        WHERE conference_id = #{conferenceId}
          AND user_id = #{userId}
    </select>

    <!-- 取消关注会议 -->
    <delete id="delete" parameterType="Long">
        DELETE
        FROM follow_conference
        WHERE id = #{id}
    </delete>

    <!-- 关注数量排名前十的会议 -->
    <select id="findTopTen" resultType="com.myhuiban.model.FollowConferenceDetail">
        SELECT conference_id, count(*) AS follow_num
        FROM follow_conference
        GROUP BY conference_id
        ORDER BY follow_num DESC LIMIT 10
    </select>
</mapper>