<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myhuiban.mapper.UserMapper">
    <select id="findByUsername" resultType="com.myhuiban.model.User">
        SELECT * FROM user WHERE user_name = #{userName}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.myhuiban.model.User">
        INSERT INTO user(user_name, email, institution, registration_time, password)
        VALUES (#{userName}, #{email}, #{institution}, #{registrationTime}, #{password})
    </insert>

    <select id="getUserNum" resultType="int">
        SELECT COUNT(*) FROM user
    </select>
</mapper>
