<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myhuiban.mapper.UserMapper">
    <select id="findByUsername" resultType="com.myhuiban.model.User">
        SELECT * FROM user WHERE user_name = #{userName}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.myhuiban.model.User">
        INSERT INTO user(user_name, email, institution, registration_time, password, role)
        VALUES (#{userName}, #{email}, #{institution}, #{registrationTime}, #{password}, #{role})
    </insert>

    <select id="getUserNum" resultType="int">
        SELECT COUNT(*) FROM user
    </select>

    <select id="findById" resultType="com.myhuiban.model.User">
        SELECT * FROM user WHERE id = #{id}
    </select>

    <update id="updateUserInfo" parameterType="com.myhuiban.model.User">
        UPDATE user
        SET user_name=#{userName}, email=#{email}, institution=#{institution}, registration_time=#{registrationTime}, password=#{password}
        WHERE id=#{id}
    </update>
</mapper>
